/*
 * Dropit v1.1.0
 * http://dev7studios.com/dropit
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* These styles assume you are using ul and li */
.dropit {
    list-style: none;
    padding: 0;
    margin: 15px 0 0;
    float:right;
    display:inline-block;
}
.dropit .dropit-trigger {
    position: relative;
}
.dropit .dropit-submenu {
    position: absolute;
    top: 100%;
    right: 0; /* dropdown left or right */
    z-index: 1000;
    display: none;
    min-width: 100px;
    list-style: none;
    padding: 20px;
    margin: 20px 0 0;
}
.dropit .dropit-open .dropit-submenu {
    display: block;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
    border-radius: 4px;
}
.dropit .dropit-open .dropit-submenu:after {
    content: " ";
    position: absolute;
    border-style: solid;
    border-width: 0 8px 8px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -8px;
    right: 10px;
}
.dropit .dropit-open .dropit-submenu li {
    display: block;
    margin-bottom: 20px;
}
.dropit .dropit-open .dropit-submenu li:last-child {
    margin-bottom: 0px;
}
.dropit .dropit-open .dropit-submenu li a {
    color:#34495E;
    text-decoration: none;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight:100;
}

/*settings liftup menu*/
.settings-menu.dropit {
    list-style: none;
    padding: 0;
    margin: 8px 0 0;
    float:right;
    display:inline-block;
}
.settings-menu.dropit .dropit-trigger {
    position: relative;
}
#left-nav .settings .settings-menu.dropit .dropit-trigger > a {
    margin-top: 0;
}
.settings-menu.dropit .dropit-submenu {
    position: absolute;
    top: -144px;
    right: 0; /* dropdown left or right */
    z-index: 1000;
    display: none;
    min-width: 145px;
    list-style: none;
    padding: 20px;
}
.settings-menu.dropit .dropit-open .dropit-submenu {
    display: block;
    background: #FFFFFF;
    box-shadow: 0px -2px 4px 0px rgba(0,0,0,0.30);
    border-radius: 4px;
    margin: 0;
}
.settings-menu.dropit .dropit-open .dropit-submenu:after {
    content: " ";
    position: absolute;
    border-style: solid;
    border-width: 0 8px 8px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: 138px;
    right: 10px;
    moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}
.settings-menu.dropit .dropit-open .dropit-submenu li {
    display: block;
}
.settings-menu.dropit .dropit-open .dropit-submenu li a {
    color:#34495E;
    text-decoration: none;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight:100;
    float: left;
    margin-top: 20px;
}
.settings-menu.dropit .dropit-open .dropit-submenu li:first-child a {
    margin-top: 0;
}
